.l-w100p {
    width: 100%;
}

.l-w250 {
    @include media-pc {
    width: 250px;
    }
}

.l-w540 {
    @include media-pc {
    width: 540px;
    }
}

.l-w660 {
    @include media-pc {
    width: 660px;
    }

    @include media-tab {
    width: 100%;    
    }
}

.l-w390 {
    @include media-pc {
    width: 390px;
    }
}


.l-flex {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
}

.l-flex-wrap {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    flex-wrap: wrap;
}


.l-flex-between {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
    justify-content: space-between;
}



.l-flex-spnone {
    @include media-sp {
        display: block;
    }   
}


.l-align-content {
	-ms-flex-line-pack: start;
	align-content: flex-start;
}

.l-align-items {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}    


.l-direction-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}



.l-clearfix::after {
    content: " ";
    display: block;
    clear: both;
}



.l-body::after {
    content: ' ';
    display: block;
    position: fixed;
    top: 0;
    height: 0;
    width: 100%;
    height: 100vh;
    border: 3px solid $red;
    background: transparent;
    pointer-events: none;
    @include media-sp {
        border-bottom: 3px solid $red;
    }    
}

.l-body {
    display: none; //fade
    @include media-sp {
        margin-top: 60px;  //GDN bnr
    }
}

.l-wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding-left: 60px;
    padding-right: 60px;

    @include media-tab {
        padding: 0 5%;
    }

    @include media-sp {
        width: 100%;
        padding: 0 6.4vw;
    }

    
}


.l-header {

        .l-header__1stline {
            align-items: center;           
        }

        .l-header__2ndline {
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            @include media-sp {
                flex-wrap: wrap;
            }
                    
        }

}


.l-hero {
    
}


.l-rank-wrap {
    @include media-tab {
        width: 32%;
    } 
} 


.l-recent {
    @include media-tab {
        width: 64%;
    }   
}


.l-footer {
    width: 100%;
    //max-width: 1100px;
    margin: 30px auto 0;
    padding: 28px 0;
    background-color: $gray-h;
    text-align: center;

    @include media-sp {
        position: absolute;
        top:0;
        width: 100%;
        margin: 0 auto;
        height: 60px;
        padding: 0;
    }

    a {
        display: inline-block;
    }


}


