
// @desc - pxをemに変換します。
// @param {Number} $self - 指定したいpx。
// @param {Number} $parent - 基準となるpx。
// @example - _em(15px, 30px) => 0.5em
@function _em($self, $parent:14) {
    @return ($self / $parent) * 1em;
  }


  // min-width
$_breakpoint-up: (
  'sm': 'screen and (min-width: 400px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 1070px)',
  'xl': 'screen and (min-width: 1200px)',
);

// max-width
$_breakpoint-down: (
  'sm': 'screen and (max-width: 399px)',
  'md': 'screen and (max-width: 767px)',
  'lg': 'screen and (max-width: 1069px)',
  'xl': 'screen and (max-width: 1199px)',
);


@mixin _responsive($class, $bp: $_breakpoint-up) {
    #{$class} {
      @content;
    }
    @each $suffix, $value in $bp {
      @media #{$value} {
        #{$class}-#{$suffix} {
          @content;
        }
      }
    }
  }
  
  @mixin _responsive_down($class, $bp: $_breakpoint-down) {
    #{$class} {
      @content;
    }
    @each $suffix, $value in $bp {
      @media #{$value} {
        #{$class}-#{$suffix} {
          @content;
        }
      }
    }
  }


  // 指定するmarginの範囲を定義
$margin-min: 0;
$margin-max: 100;

 @for $i from $margin-min through $margin-max {
     @include _responsive(".mt#{$i}") {
         margin-top: #{$i}px;
     }
     @include _responsive_down(".mt#{$i}em-down") {
         margin-top: _em($i);
     }
     @include _responsive(".mr#{$i}") {
         margin-right: #{$i}px;
     }
     @include _responsive_down(".mr#{$i}em-down") {
         margin-right: _em($i);
     }
     @include _responsive(".mb#{$i}") {
         margin-bottom: #{$i}px;
     }
     @include _responsive_down(".mb#{$i}em-down") {
         margin-bottom: _em($i);
     }
     @include _responsive(".ml#{$i}") {
         margin-left: #{$i}px;
     }
     @include _responsive_down(".ml#{$i}em-down") {
         margin-left: _em($i);
     }
 }




 /* example */

 //<!-- PCサイズ(min-width: 768px)では50px、SPサイズ（max-width: 767px)では14pxで表示 -->
//  <div class="header mt50-md mt14-down-md">
// コンテンツ
// </div>

// <!-- PCサイズ(min-width: 768px)では50px、SPサイズ（max-width: 767px)では14pxをemに変換して表示 -->
// <div class="header-result mt50-md mt14em-down-md">
// コンテンツ
// </div>
