

/* JS pulldown */
#selectChild {
    display: none;
}

.select-child--2nd {
    display: none;
}

.DecisionBtn {
    font-size: 18px;
    font-size: 1.8rem;
}


/*
 * common [ searchbox ]
 */

input:focus {
    background-color: $gray-h;
    @include transition(.3s);
}

.searchbox-wrap {
    position: relative;
}

.searchbox {
    border: 0;
    margin-left: -3px;
    padding: 10px 20px 10px 14px;
    color:#aaa;
    background-color: #FFF;
    // border:solid 1px $linegray;
    -webkit-border-radius: 0 20px 20px 0;
    -moz-border-radius: 0 20px 20px 0;
    border-radius: 0 20px 20px 0;
    @include rem(13);

} 

.searchbox__btn {
    display: inline-block;
    padding:8px 12px;
    border-color: transparent;
    -webkit-border-radius: 20px 0 0 20px;
    -moz-border-radius: 20px 0 0 20px;
    border-radius: 20px 0 0 20px;
    background-color: $blue;
}

.searchbox--h {
    width: 250px;
    @include rem(14);
    background-color: $gray-h; 
    @include media-tab {
        @include rem(13); 
    }       
}

.searchbox--m {
    width: 400px;
    @include rem(16);
    @include media-sp {
        width: auto;
	}

}

/* selectbox common */

.selectbox {

    &__title {

        @include rem(13);
        font-weight: bold;
        vertical-align: top;

        @include media-sp {
            @include rem(16);
        }
    
    }

}


/* input checkbox */

.checkbox-input {
    display: none;
}

.checkbox-txt::before {
    content: ' ';
    display: block;
    position: absolute;
    top: -2px;
    left: 0;
    width: 16px;
    height: 16px;
    border: 1px solid $linegray;
    transition-duration: 150ms;
    border-radius: 4px!important;
}

.checkbox-txt {
    position: relative;
    padding-left: 20px;
    @include rem(13);

    @include media-sp {
        @include rem(14);
    }

}

.checkbox-input:checked + .checkbox-txt::after {
    //チェックが入っていたら
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    left: 5px;
    width: 7px;
    height: 14px;
    transform: rotate(40deg);
    border-bottom: 3px solid #d01137;
    border-right: 3px solid #d01137;
}


/* btn */

.btn-search {
    width: 280px;
    margin: 24px auto 12px;
    padding: 12px;
    background-color: $blue;
    @include rem(18);
    color: #FFF;
    border-radius: 7px;
    text-align: center;

    @include media-sp {
       width: 100%;
    }

}

.btn-reset {
    padding: 4px 8px;
    border: 1px solid $red;

    span {
        margin-left: 6px;
        color: $red;
        font-weight: bold;
        @include rem(13);
        vertical-align: middle;
    }

    svg {
        fill: $red;
        width: 13px;
    }
}

.btn-kodawari {
    text-align: center;
}

.btn-decision {
    display: block;
    width: 100%;
    margin: 24px auto 8px;
    padding: 12px 8px;
    background-color: $blue;
    border-radius: 7px;
    text-align: center;
    color: #FFF;
}   



/*
 * btn common
 */



/*
 *  text-link common 
 */

.morelink-wrap {

    text-align: right;

    @include media-sp {
        padding: 8px;
        border: 1px solid $blue;
        border-radius: 6px;
        text-align: center;
    }

    .morelink {
        display: inline-block;
        @include rem(13);

        @include media-sp {
            @include rem(16);
        }

        color: $blue;
        font-weight: bold;

    span {
        position: relative;
    }
    
    span::after {
        position: absolute;
        content: ' ';
        display: inline-block;
        bottom: -4px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $blue;
        @include media-sp {
            display: none;
        }
    }

    }  

}


/*
 *   tag common
 */

.tagbox-wrap {
    padding: 6px;
    background-color: $skyblue;
    @include media-sp {
        padding: 0;
        background: none;
    }
}

.tagbox {

    text-align: center;
    @include media-sp {
        text-align: left;
    }

    &__item {
        display: inline-block;
        padding-right: 2px;

        @include media-sp {
            margin-bottom: 8px;
        }

        a {
            display: block;
            padding: 6px 20px;
            background-color: #FFF;
            border: 1px solid $blue;
            border-radius: 16px;
            @include rem(14);
            color: $blue;
            cursor: pointer;
        }
    }
}   



/*
 * 広告バナー common
 */

.addbnr {

    a img {
        width: 100%;
        margin-bottom: 5%;
    }

}


/*
*  フロント 1stview
*/



.box-search-multi {
    @include media-tab {
        width: 100%;
    }
}



/*
*  ①都道府県セレクトボックス
*/

#prefbox {
    position: relative;
}

/* input pulldown */

.pulldown {
    display: block;
    padding: 6px;
    border: 1px solid $linegray;
    transition-duration: 150ms;
    border-radius: 4px!important;
    @include rem(16);
    background: url('../img/common/icon-arrow-d.png') center right no-repeat;
    background-size: contain;
    cursor: pointer;

    @include media-sp {
        padding: 14px;
    }
}

.pulldown:active,
.pulldown:hover {
    border: 1px solid $blue;
}


.select-child {
    width: 560px;
    background-color: #FFF;
    border: 1px solid $linegray;
    box-shadow: 0 4px 4px rgba(0,0,0,.2);
    z-index: 10;

    &--1st {

        width: 180px;
        float: left;
        padding-top: 8px;
        border-right: 1px solid $linegray;

        .select-child__label {
            position: relative;
            display: block;
            padding: 10px 15px 10px 10px;
            @include rem(13);       
        }


        .select-child__label:hover {
            background-color: $blue;
            color: #FFF;
        }


        .select-child__label.selected {
            background-color: $blue;
            color: #FFF;
        }
        
        .select-child__label .checkArea::after {
            position: absolute;
            top: 50%;
            right: 12px;
            content: ' 選択中 ';
            display: inline-block;
            padding: 3px 6px;
            border: 1px solid $blue;
            border-radius: 4px;
            color: $blue;
            transform: translateY(-50%);
        }
        
        .select-child__label.selected .checkArea::after {
            border: 1px solid #FFF;
            color: #FFF;
        }    
        
        


    }

    &--2nd {   

        width: 360px;
        float: right;
        padding: 25px 0;

        .select-child__label {
            display: inline-block;
            width: 32%;
            margin-bottom: 12px;
            // padding: 3px 15px 3px 30px;
            @include rem(14);    
            
            .checkbox-txt:hover {
                color: $blue;
            }


        }


    }




}

#selectChildsp {
    display: none;
    //display: block;
}

.select-child--sp {
    position: fixed;
    display: block;
    padding: 20px 10px 10px 10px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.96);
    border: 4px solid $linegray;
    overflow-y: auto;
    z-index: 100;

    &__1sthead {
        padding: 12px 0 12px 18px;
        background-color: $skyblue;
        @include rem(14);
        font-weight: bold;
        color: $blue;
    }

    &__2ndlist {

        .item {
            width: 50%;
            padding: 8px;
            vertical-align: middle;
        }

        .item-w {
            width: 100%;
        }

    }

    &__label {
        display: block;
    }


}


/*
 *  ②ブランドチェックボックス
 */

.check-brand {

    &__label {
        display: inline-block;
        width: 22%;
        padding-bottom: 10px;
    }

}

#checkBrandsp {

}

.check-brand--sp {
    position: fixed;
    top:0;
    left:0;
}

/*
 *  ③ライセンスチェックボックス
 */

 .check-license {

    &__label {
        display: block;
        width: 100%;
        padding-bottom: 10px;
    }

}

 .check-license--sp {
    
    &__label {

        display: inline-block;
        margin-bottom: 12px;
        // padding: 3px 15px 3px 30px;
        padding: 16px 10px;
        @include rem(13);
        border-bottom: 1px solid $linegray;

    }
}

/*
 *  地図から探す
 */

.clickmap_wrap {

    img { width: 100%; }

}


/*
 *  記事一覧
 */

 .articlebox {

    &__item a {
        display: block;
        width: 100%;
        height: 100%;
        border: 1px solid $linegray;
        position: relative;

        padding: 15px;
        border-radius: 4px;
        overflow: hidden;

        cursor: pointer;

        div {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 135px;
        }

        div img {
            position: absolute;
            top: 50%;
            left: 50%;
            width:100%;
            height: auto;
            transition: 0.6s;
            transform: translate(-50%,-50%)
        }

        div img:hover {
            transform: translate(-50%,-50%)scale(1.1,1.1);
        }
    }

    &__item__title {  
        margin-top: 12px;
        @include rem(13);
        @include media-sp {
            @include rem(16);
        }
        font-weight: bold;
        line-height: 1.35;
    }

    &__item__link {
        display: block;
        margin-top: 8px;
        text-align: right;  
        color: $blue;
        font-weight: bold;
        line-height: 1.0;
        @include rem(12);
       
        & span {
            position: relative;
            display: inline-block;
        }

        & span::after {
            position: absolute;
            content: ' ';
            display: inline-block;
            bottom: -4px;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: $blue;
        }
    
    }    


 }

.articlebox {
    
    &__item {
        //width: 100%;
    }
}


.l-w250 .articlebox {  //サイドの記事のみ

    &__item {
       // width: 48%;
    }


} 





/*
 *  最近の口コミコメント
 */


.buzzbox {

    .buzzbox__item {

        &__title {
            display: inline-block;
            @include rem(16);
            font-weight: bold;
            color: $blue;
        }

        .area {
            @include rem(14);
            font-weight: normal;

            @include media-sp {
                display: block;
                @include rem(14);
                color: $txtblk;
            }

        }

        &__img {
            width: 180px;
            @include media-tab {
                width: 20%;
        } 

            img {
                @include media-sp { 
                min-width: 100%; 
                }

            }
        }

        &__namebox {
            padding-left: 14px;
            width: 100%;
        }

        &__desc {

            @include media-tab {
                width: 79%;
            } 

            &__inner {

            position: relative;

            width: 460px;
            margin-left: 18px;
            background-color: $skyblue;
            padding: 16px 24px;
            
            @include media-sp {
                width: 100%;
                margin-left: auto;
                margin-top: 10px;
            }

            @include media-tab {
                width: 100%;
                margin-left: auto;
            }


            }

            .author {
                display: inline-block;
                @include rem(14);
                font-weight: bold;
                color: $blue;
            }

            .rating {
                display: inline-block;
                @include rem(14);
            }
            .comment {
                @include rem(12);
                color: $txtblk;
                line-height: 1.6;
                font-weight: normal;
            }

            .comment-d {
                text-align: right;
            }


        }

        &__desc:after{
            border: solid transparent;
            content:'';
            height:0;
            width:0;
            pointer-events:none;
            position:absolute;
            border-color: rgba(217, 241, 252, 0);
            border-top-width:5px;
            border-bottom-width:5px;
            border-left-width:14px;
            border-right-width:14px;
            margin-top: -5px;
            border-right-color: $skyblue;
            right:100%;
            top:27%;

            @include media-sp {
                display: none;
            }


        }

        .tagbox-wrap {
            // rule only  in buzzbox 
            
            background: #FFF;

            .tagbox {
                margin-left: 18px;
                text-align: left;

                @include media-sp {
                    margin-left: 0;
                }
            }
            
            .tagbox__item a  {
                @include rem(12);
                @include media-sp {
                    @include rem(10);
                }
            }
        
        }
        


    }

}


 /* 
 * ランキング
 */ 


.rankbox {

    margin-left: 8px; //translate

    &__item {
        
        position: relative;
        @include media-sp {
            padding-bottom: 14px;
            border-bottom: 1px solid $linegray;
        }

        &__img {
            width: 108px;
        }

        &__desc {

            width: 100%;
            padding-left: 14px;

            .title{
                font-weight: bold;
                @include rem(14);
                color: $blue;

                @include media-sp {
                    @include rem(16);
                }

            }

            .area {
                @include media-sp {
                    @include rem(14);
                }
            }


        }

       .rating {
           @include rem(13);
           @include media-sp {
            @include rem(14);
            }
       } 


    }

    &__item:nth-of-type(1)::after {

        content: url('../img/common/icon-rank1.svg');
        position: absolute;
        display: block;
        top: -14px;
        left: -22px;
        width: 24px;
        color: #000;
        @include rem(14);
        z-index: 10;
        transform: translate(50%,25%);
        
    }

    &__item:nth-of-type(2)::after {

        content: url('../img/common/icon-rank2.svg');
        position: absolute;
        display: block;
        top: -14px;
        left: -22px;
        width: 24px;
        color: #000;
        @include rem(14);
        z-index: 10;
        transform: translate(50%,25%);
        
    }


    &__item:nth-of-type(3)::after {

        content: url('../img/common/icon-rank3.svg');
        position: absolute;
        display: block;
        top: -14px;
        left: -22px;
        width: 24px;
        color: #000;
        @include rem(14);
        z-index: 10;
        transform: translate(50%,25%);
        
    }

    &__item:last-child {

        @include media-sp {
            border-bottom: none;
        }

    }    


}




 /* 
 * header
 */ 

.seotxt {
    display: inline-block;
    text-align: center;
    padding: 8px 22px;
    background-color: $red;
    border-radius: 0 0 10px 10px;
    color: #FFF;
    @include rem(12);

    @include media-sp {
        display: block;
        width: 100%;
        padding: 8px 2%;
    }

}

.hlogo__link {
    display: flex;
    align-items: flex-start;
    width: 264px;

    @include media-tab {
        width: 24%;
    }    

	@include media-sp {
        width: 100%;
	}

}

.hlogo__link__logo {

    position: relative;
    width: 112px;
    padding-right: 18px;



    img {
        width: 100%;
        max-width: 100%;
    }

    &::after {
        position: absolute;
        top: 0;
        right: 0;
        content: ' ';
        display: block;
        width: 1px;
        height: 90%;
        background-color: $linegray; 

        @include media-tab {
            display: none;
        }    


    }

}

.hlogo__link__subtxt {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
    width: 154px;
    height: 48px;
    margin-left: 14px;
    padding: 6px 0;
    line-height: 1.4;
    color: $red;
    @include rem(12);
    vertical-align: middle;

    @include media-tab {
        display: none;
    }

    @include media-sp {
        width: auto;
        height: auto;
    }   

}


.otherlink {

    display: inline-block;
    padding-top: 13px;
    vertical-align: middle;

    &__item {
        display: inline-block;
        padding-left: 9px;
        padding-right: 9px;
        color: $red;
    }

    &__item::last-child {
        padding-right: 0;
    }

}

.targetlink {

    @include media-tab {
       
    }    

    @include media-sp {
        width: 100%;
        display: flex;
        margin-top: 12px;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }
     
    &__item {
        display: inline-block;
        margin-left: 12px;
        padding-bottom: 6px;
        @include rem(14);
        font-weight: bold;
        letter-spacing: 0.1em;
        border-bottom: 2px solid $red;

        @include media-tab {
            @include rem(12);
        }

        @include media-sp {
            display: block;
            width: 49%;
            height: 40px;
            @include rem(12);
            line-height: 40px;
            margin: 0;
            align-items: stretch;
            text-align: center;
            border: 1px solid $gray-h;
            background: $gray-h;
            border-radius: 4px;
        }

        img {
            width: 16px;
            margin-right: 3px;

            @include media-tab {
                display: none;
            }

            @include media-sp {
                display: none;
            }    

        }
    }


}

/*
 * breadcrumb(wpと共通）
 */

 .breadcrumbs {

    padding: 8px 12px 8px 0;
    font-size: 1.2rem;

    a {
        text-decoration: underline;
    }

}

/* 
 * hero 
 */

.l-hero--default {

    position: relative;
    width: 980px;
    margin: auto;

    @include media-tab {
        width: 96%;
        height: 368px;
        margin: 0 auto;
        margin-bottom: 8vw; 
    }

    @include media-sp {
        width: 96%;
        height: 64%;
        margin: 0 auto;
        margin-bottom: 8vw; 
    }

    &__inner {
        position: relative;
        width: 980px;
        height: 340px;
        margin: auto;
        // background: url('/img/top/main_bg.png') center no-repeat;

        @include media-tab {
            width: 96%;
            height: 368px;
            margin: 0 auto;
        }

        @include media-sp {
            width: 96%;
            height: 64vw;
            margin: 0 auto;
        }
    }

    .mcopy {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        margin: auto;

        @include media-tab {

        }    

        @include media-sp {
            width: 100%;
            top: 50%;
        }    
        
        &__title {
           position: relative;
           width: 720px;
           text-align: center;
           font-weight: bold;
           color: $red;
           @include rem(24);

           @include media-tab {
               width: 100%;
               @include rem(28);
           }

           @include media-sp {
               width: 100%;
               @include rem(22);
           }    

        }

        &__title::after {
            content: ' ';
            position: absolute;
            display: block;
            width: 730px;
            bottom: -8px;
            height: 2px;
            background-color: $red;

            @include media-tab {
                display: none;
            }

            @include media-sp {
                display: none;
            } 

        }
        
        &__title span {

            display: inline-block;

            @include media-sp {
                display: block;
            }            
        }
        
        .searchbox-wrap {
            width: 390px;
            margin-left: auto;
            margin-right: auto;
            @include media-sp {
                width: 100%;
                text-align: center;
            }    
        }

    }

    &__inner--bg {
        position: absolute;
        top:0;
        left: 0;
        right: 0;
        overflow: hidden;
        z-index: -1;

        img {
            width: 100%;
            height: auto;
            animation: animationZoom1 2s ease-in-out forwards;
        }

        @include media-sp {
            background-image: url('/img/top/main_bg-sp.png');
            background-position: top center;
            background-size: cover;
            height: 64vw;
        } 


    }    

}

@keyframes animationZoom1 {
    100% { transform: scale(1.1)}
    }


.cut {
    position: absolute;

    img {
        width: 100%;
    }

}

.cut1 {
    width: 252px;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);

    @include media-tab {
        width: 18%;
    }  

    @include media-sp {
        width: 32%;
    }    

}

.cut2,.cut3,.cut4,.cut5 {
    @include media-tab {
        display: none;
    }  
}


.cut2 {
    width: 106px;
    top: 20.4%;
    left: -3%;
    transform: translateX(50%) translateY(-50%);
}

.cut3 {
    width: 162px;
    top: 82%;
    left: 68%;
    transform: translateX(50%) translateY(-50%);
}

.cut4 {
    width: 140px;
    top: 92%;
    left: -3%;
    transform: translateX(50%) translateY(-50%);
}

.cut5 {
    width: 102px;
    top: 26%;
    left: 82%;
    transform: translateX(50%) translateY(-50%);
}


/* 
 *  school detail common
 */

.cate-pref {

    margin-top: 12px;

    svg {
        fill: $red;
        height: 16px;
        vertical-align: middle;
    }

    a { 
        margin-left: 6px;
        @include rem(12);
        color: $blue;
        vertical-align: middle;
    }
}



.school-wrap {

    .school-title {
        margin: 10px 0;
        @include rem(20);
        line-height: 1.8;
        font-weight: bold;
    }

    .rating {
        @include rem(18);
    }

    .commentLink {
        @include rem(14);

        a {
            text-decoration: underline;
        }

    }

    .price {

        @include rem(12);

        &__title {
            display: inline-block;
            @include rem(12);
            padding: 4px 6px;
            background-color: $skyblue;
            margin-right: 8px;
        }

    }


  

    .school-detailhead {

        margin: 48px 0 18px;
        @include rem(16);
        font-weight: bold;
        line-height: 1.6;
    }

    .detail-title {

        @include rem(16);
        font-weight: bold;
        margin-bottom: 16px;

        &__icon {
            height: 20px;
            margin-right: 8px;

            svg {
                fill: $red;
                height: 20px;
                vertical-align: middle;
            }

        }  

    }

    .detail-title--bar {

        border-left: 4px solid $red;
        padding-left: 14px;

    }


    .detailtxt {
        @include rem(13);
        line-height: 1.6;
    }

    .detailtable {

        border: 1px solid $linegray;
        @include rem(13);
        border-radius: 4px;

        &__item {
            padding: 10px 12px;
            border-bottom: 1px solid $linegray;
            line-height: 1.8;
        }
        
        &__item:last-child {
            border-bottom: none;
        } 

        &__item  dt {
            font-weight: bold;
            width: 20%;
        } 


        &__item  dd {
            font-weight: normal;
            width: 80%;
        }
        
        &__item  dd img{
            display: inline-block;
            width: 10%;
            padding: 0 0.1%;

            @include media-sp {
                width: 16%;
                padding: 1%;
            }

        }    

    }
     

    //only detail page

    .buzzbox .buzzbox__item__desc {
        min-width: 100%;
    }

    .buzzbox .buzzbox__item__desc__inner {
        width: 100%!important;
        margin-left: 0;
    }


    .detaillist {

        &__item {
            @include rem(12);
            border-top: 1px solid $linegray;
        }

        &__item:last-child {
            border-bottom: 1px solid $linegray;
        }    

        &__item dt {
            width: 15%;
            padding: 14px 0 14px 10px;
            background-color: $skyblue;

            @include media-sp {
                width: 29%;
                padding: 2.2%;
            }

        }    

        &__item dd {
            width: 85%;
            padding: 14px 0 14px 10px;
            line-height: 1.6;
            @include media-sp {
                width: 71%;
                padding: 2.2%;
            }
        } 

    }



}


/* detail #detailReview more */

#detailReview li {
    display: block;
    transition: all 0.4s ease 0s;
}


#detailReview li.is-hidden {
    display: none;
}

#showMore a {
    padding: 15px;
    display: block;
    border: 1px solid $blue;
    text-align: center;
    cursor: pointer;   
}

#showMore a p {
    position: relative;
    display: inline-block;
    @include rem(15);
    color: $blue;
    font-weight: bold;
    text-decoration: underline;
    transform: translateX(12px);
}

#showMore a p::before {
    position: absolute;
    content: ' ';
    display: inline-block;
    top: 50%;
    left: -24px;
    margin-right: 8px;
    width: 18px;
    height: 18px;
    background: url('../img/common/icon-more.png') no-repeat;
    background-size: contain;
    transform: translateY(-50%);

}    

/* 
 *  school-list  index common
 */


.school-listhead {
    @include rem(24);
} 


.school-list {

    &__tab {

        width: 100%;
        border-bottom: 3px solid $linegray;

        &__headline {
            position: relative;
            display: inline-block;
            width: 14%;
            background: $darkgray;
            color: #FFF;
            @include rem(14);
            height: 36px;
            line-height: 36px;
            padding: 0 6px 0 8px;
            vertical-align: middle;

            @include media-sp {
                display: none;
            }
            
        }

        &__headline::after {
            position: absolute;
            content: ' ';
            display: inline-block;
            top: 0;
            right: 0;
            width: 0;
            height: 0;
            border-left: 18px solid $darkgray;
            border-top: 18px solid transparent;
            border-bottom: 18px solid transparent;
            transform: translateX(18px);

            @include media-sp {
                display: none;
            }
        }    

        &__links {
            display: inline-block;
            width: 86%;
            padding-left: 18px;
            vertical-align: middle;
            background: $gray-h;

            @include media-sp {
                width: 100%;
                padding: 12px 0;
            }

            ul {
                height: 100%;

                @include media-sp {
                justify-content: center;
                }
                


                li a {
                    @include rem(14);
                    display: block;
                    padding: 0 1.0rem;
                    color: $blue;
                    text-decoration: underline;
                    border-left: 1px solid $linegray;
                   // border-right: 1px solid $linegray;
                }

                li:first-child a {
                    border-left: none;
                }    

        

            }



        }


    }

    &__wrap {

        

    }

    &__result {

        @include rem(12);        

        span {
            padding: 0 .4rem;
            @include rem(14);
            font-weight: bold;
        }

    }

    &__sortlist {

        &__item {

            .img-wrap {
                display: block;
                width: 27%;
            }

            .desc-wrap {

                width: 69.4%;
            }

            .item__title {
                @include rem(18);
                color: $blue;
                font-weight: bold;
                margin-bottom: 13px;
                line-height: 1.5;
            }

            .area {
                @include rem(14);
                color: $blue;
                font-weight: bold;
                margin-bottom: 20px;                
            }

            .catch {
                @include rem(16);    
                margin-bottom: 12px;  
            }

            .lead {
                @include rem(13);
                line-height: 1.5;   
                margin-bottom: 20px;
            }

            .rating {

                display:-webkit-box;
                display:-ms-flexbox;
                display:flex;
                vertical-align: middle;
                flex-wrap: nowrap;
                margin-bottom: 12px;

                @include media-sp {
                    flex-wrap: wrap;
                }


                .point {
                    @include rem(18);
                    font-weight: bold;
                    margin-right: 4px; 
                }

                .star {
                    @include rem(18);
                    font-weight: bold; 
                    color: $blue;
                    margin-right: 4px;
                }              

                .num {
                    @include rem(14);
                    line-height: 1.8;

                    @include media-sp {
                        margin-top: 8px;
                    }

                    a {
                        text-decoration: underline;
                    }
                }

            }

            .licence {

                &__item {
                    display: inline-block;
                    width: 10%;
                    padding: 0.2%;
                
                    img {
                        max-width: 100%;
                    }
                }

            }

        }

        &__rev {

            position: relative;
            margin-top: 18px;
            padding: 16px 24px;
            background-color: $skyblue; 
            @include rem(14);


            .author {
                @include rem(14);
                font-weight: bold;
                color: $blue;
            }

            .rating {

                .point {
                    @include rem(14);
                }

            }

            .comment {
                @include rem(12);
                line-height: 1.6;
            }

            .comment-d {
                text-align: right;
            }

        }

        &__rev::before {

            position: absolute;
            top: 0;
            left: 20px;
            content: ' ';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 6px 12px 6px;
            border-color: transparent transparent $skyblue transparent;
            transform: translateY(-100%);
        }    


    }


}


/*
 * content common 
 */ 


.top-title {
    @include rem(18);
    font-weight: bold;
    margin-bottom: 4px;

    &__icon {
        height: 28px;
        margin-right: 8px;

        svg {
            fill: $red;
            height: 24px;
            vertical-align: middle;
        }

    }
}

.top-title-wrap {
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 12px;
}


.school-pager ul {
    width: 100%;
    @include rem(14);
    text-align: center;

    li {
        position: relative;
        display: inline-block;
        padding: 10px 8px;
    }

    li a::after {
        position: absolute;
        content: ' ';
        bottom: 0;
        left: 50%;
        display: inline-block;
        width: 80%;
        height: 1px;
        background-color: $blue;
        margin-top: 10px;
        transform: translateX(-50%);
    }

}


.mov_wrap {
    position: relative;
    padding-bottom: 56.25%; /*アスペクト比 16:9*/
    height: 0;
    overflow: hidden;
}

.mov_wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*
 *  Review Form
 */

.reviewBox {

    padding: 30px;
    background-color: $gray-h;

    @include media-sp {
        padding: 4.8%;
    }

    &__item {
        flex-wrap: nowrap;
        @include media-sp {
            flex-wrap: wrap;
        }
    }


    label {
        font-weight: bold;
        @include rem(14);
        margin-right: 16px;
        margin-top: 4px;

        @include media-sp {
            width: 100%;
            margin-bottom: 3%;
        }

    }


    .review__pulldown {
        display: block;
        width: 200px;
        padding: 6px;
        border: 1px solid $linegray;
        border-radius: 4px!important;
        @include rem(13); 
        background: url('../img/common/icon-arrow-d.png') center right no-repeat #FFF;
        background-size: contain;
        cursor: pointer;

        @include media-sp {
            padding: 14px;
        }
        @include media-sp {
            padding: 14px;
        }
    }

    .review__input { 
        display: block;
        width: 200px;
        padding: 6px;
        border: 1px solid $linegray;
        border-radius: 4px!important;
        @include rem(13); 
        background-color: #FFF;
    }   

    .review__input--area { 
        width: 420px;
    }
    
    .review__check {
        width: 18px;
        height: 18px;
        margin-top: 3px;
        margin-right: 8px;
        padding: 6px;
        border: 1px solid $linegray;
        border-radius: 4px!important;
        background-color: #FFF;
    }

    .review__pulldown:active,    
    .review__pulldown:hover,
    .review__input:active,
    .review__input:hover,
    .review__check:active,
    .review__check:hover {
        border: 1px solid $blue;
    }

    .agree {
        text-decoration: underline;
    }


    .attention {
        position: relative;
        background: #eee;
        margin-top: 12px;
        padding: 12px;
        line-height: 1.8;
    }

    .attention::after {
        content: ' ';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        top: -8px;
        left: 8px;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 8px solid #eee;
    }    


}


.alertbox {
    display: block;
    max-width: 980px;
    margin: 20px auto;
    padding: 12px;
    @include rem(16);
    font-weight: bold;
    text-align: center;

    @include media-tab {
       max-width: 90%;
    }

}

.alertbox--true {
    border: 2px solid $blue;
    color: $blue;
}

.alertbox--false {
    border: 2px solid $red;
    color: $red;
}




/*
 * footer
 */


.otherlink-f {

    max-width: 980px;
    margin: 40px auto 0;
    text-align: right;

    @include media-sp {
        padding: 0 6.4vw;
        margin-bottom: 40px;
        text-align: left;
    }   

     
    &__item {
        @include rem(12);
        display: inline-block;
        padding-top: 32px;
        padding-right: 30px;

        @include media-sp {
            display: block;
            padding-right: 16px 0 30px;
        }

    }
    

 }    

 .copyright {
    color: $red;
    font-weight: bold; 

    @include media-sp {
        @include rem(9);
    }
    
} 