// color 

$red : #e60012; 
$blue: #216bbe;
$pink: #ffe9e2;
$skyblue: #d9f1fc;
$gray: #e2ecf0;
$gray-h: #f7f7f7;
$linegray: #c1c1c1; 
$darkgray: #bababa;
$txtblk: #2F2F2F;

// braakpoint 
// * ex)
//   @include media-sp {}
//   @include media-pc {}

$break-point: 767px;
$break-point-tab: 1069px;

@mixin media-sp {
    @media screen and (max-width: $break-point) {
        @content;
    }
}

@mixin media-pc {
    @media print, screen and (min-width: $break-point + 1) {
        @content;
    }
}


@mixin media-tab {
    @media screen and (min-width:$break-point) and ( max-width:$break-point-tab) {
        @content;
    }
}


.sp-flexwrap {
    flex-wrap: wrap;
}


// font color

body {
    color: $txtblk;
}

// font size

.f12 {
    @include rem(12);
 }
 
 //font family 
 
body {
    font-family: "Hiragino maru Gothic ProN W4", "Hiragino Kaku Gothic Pro","Hiragino Sans", "arial", "Meiryo", "MS PGothic", sans-serif!important;
} 


// margin auto

.m-auto {
    margin: 0 auto;
}

// block 

 .block {
     display: block;
 }

 .inline-block {
     display: inline-block;
 }

 .sp-block {
     display: block;
 }



.pc-none {
    @include media-pc {
        display: none!important;
    }
}

.sp-none {
    //display: block;
    @include media-sp {
        display: none!important;
	}  
}

// width %

.w-full {
    width: 100%;
}

.w-22 {
    width: 22.0%;
}

.w-77 {
    width: 77.0%;
}

.w-cols-4 {
    width: 23.2%;
}

.w-cols-3 {
    width: 32%;
}

.w-cols-2 {
    width: 48%;
}


//width [tab]

.tab-w-full {
    @include media-tab {
        width: 100%!important;
    }
}


//width [sp]

.sp-w-full {

	@include media-sp {
        width: 100%!important;
	}
}

.sp-w-cols-3 {

    @include media-sp {
        width: 32%;
    }   

}


.tab-w-cols-2 {

    @include media-tab {
        width: 48%;
    }
    
}





//  animation 
  .duration-150 {
    transition-duration: 150ms;
 }

//  mixin transition 

  @mixin transition($byo) {
    -webkit-transition: $byo;
	-moz-transition: $byo;
	-ms-transition: $byo;
	-o-transition: $byo;
	transition: $byo;
 }


 // rating star 1~5
 
 .rating {
    position: relative;
    display: block;
    letter-spacing: 0.05em;

    //星0つ
    .star-1:before {
        content: '☆☆☆☆☆';
        display: inline-block;
        color: $blue;
        white-space: nowrap;
        line-height: 1em;
    }

    //星1つ
    .star-1:before {
        content: '★';
        display: inline-block;
        color: $blue;
        white-space: nowrap;
        line-height: 1em;
    }
    .star-1:after {
        content: '☆☆☆☆';
        display: inline-block;
        color: $blue;
        white-space: nowrap;
        line-height: 1em;
    }

    //星2つ
    .star-2:before {
        content: '★★';
        display: inline-block;
        color: $blue;
        white-space: nowrap;
        line-height: 1em;
    }
    .star-2:after {
        content: '☆☆☆';
        display: inline-block;
        color: $blue;
        white-space: nowrap;
        line-height: 1em;
    }

    //星3つ
    .star-3:before {
        content: '★★★';
        display: inline-block;
        color: $blue;
        white-space: nowrap;
        line-height: 1em;
    }
    .star-3:after {
        content: '☆☆';
        display: inline-block;
        color: $blue;
        white-space: nowrap;
        line-height: 1em;
    }

    //星4つ
    .star-4:before {
        content: '★★★★';
        display: inline-block;
        color: $blue;
        white-space: nowrap;
        line-height: 1em;
    }
    .star-4:after {
        content: '☆';
        display: inline-block;
        color: $blue;
        white-space: nowrap;
        line-height: 1em;
    }

    //星5つ
    .star-5:before {
        content: '★★★★★';
        display: inline-block;
        color: $blue;
        white-space: nowrap;
        line-height: 1em;
    }

 }